
  {
	"swagger": "2.0",
	"info": {
		"title": "System Award Management API",
		"description": "sam.gov is the System for Award Management. It is the site on which all vendors, grantees, receivers of federal financial assistance, and other entities doing business with the government must register prior to receiving an award.  The Registrations API currently provides the publicly available data for a specific entity along with status and progress information for that registration.",
		"version": "1.0.0"
	},
	"host": "api.data.gov",
	"basePath": "/sam/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/registrations/{registrationId}": {
			"get": {
				"summary": "Find a registration by its DUN+4 number",
				"description": "If the entity only has a 9-digit DUNS number, pad the end to include 4 zeros",
				"operationId": "getData",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "An API Key from api",
					"type": "string"
				},
				{
					"in": "path",
					"name": "registrationId",
					"description": "DUNS+4 number (no '-' sign) of the registration to be fetched",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/SAM Registration"
							}
						}
					}
				},
				"tags": [""]
			}
		}
	},
	"definitions": {
		"SAM Registration": {
			"properties": {
				"duns": {
					"description": "This is a default description.",
					"type": "string"
				},
				"duns4": {
					"description": "This is a default description.",
					"type": "string"
				},
				"cage": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ncage": {
					"description": "This is a default description.",
					"type": "string"
				},
				"dodaac": {
					"description": "This is a default description.",
					"type": "string"
				},
				"purposeOfRegistration": {
					"description": "This is a default description.",
					"type": "string"
				},
				"registrationDate": {
					"description": "This is a default description.",
					"type": "string"
				},
				"expirationDate": {
					"description": "This is a default description.",
					"type": "string"
				},
				"activationDate": {
					"description": "This is a default description.",
					"type": "string"
				},
				"lastUpdatedDate": {
					"description": "This is a default description.",
					"type": "string"
				},
				"legalBusinessName": {
					"description": "This is a default description.",
					"type": "string"
				},
				"doingBusinessAsName": {
					"description": "This is a default description.",
					"type": "string"
				},
				"companyDivision": {
					"description": "This is a default description.",
					"type": "string"
				},
				"divisionNumber": {
					"description": "This is a default description.",
					"type": "string"
				},
				"samAddress": {
					"description": "This is a default description.",
					"type": "string"
				},
				"congressionalDistrict": {
					"description": "This is a default description.",
					"type": "string"
				},
				"businessStartDate": {
					"description": "This is a default description.",
					"type": "string"
				},
				"fiscalYearCloseDay": {
					"description": "This is a default description.",
					"type": "string"
				},
				"corporateUrl": {
					"description": "This is a default description.",
					"type": "string"
				},
				"corporateStructureCode": {
					"description": "This is a default description.",
					"type": "string"
				},
				"corporateStructureDescription": {
					"description": "This is a default description.",
					"type": "string"
				},
				"mailingAddress": {
					"description": "This is a default description.",
					"type": "string"
				},
				"stateOfIncorporation": {
					"description": "This is a default description.",
					"type": "string"
				},
				"countryOfIncorporation": {
					"description": "This is a default description.",
					"type": "string"
				},
				"govtBusinessPoc": {
					"description": "This is a default description.",
					"type": "string"
				},
				"altGovtBusinessPoc": {
					"description": "This is a default description.",
					"type": "string"
				},
				"pastPerformancePoc": {
					"description": "This is a default description.",
					"type": "string"
				},
				"altPastPerformancePoc": {
					"description": "This is a default description.",
					"type": "string"
				},
				"electronicBusinessPoc": {
					"description": "This is a default description.",
					"type": "string"
				},
				"altElectronicBusinessPoc": {
					"description": "This is a default description.",
					"type": "string"
				},
				"creditCardUsage": {
					"description": "This is a default description.",
					"type": "string"
				},
				"hasDelinquentFederalDebt": {
					"description": "This is a default description.",
					"type": "string"
				},
				"hasKnownExclusion": {
					"description": "This is a default description.",
					"type": "string"
				},
				"correspondenceFlag": {
					"description": "This is a default description.",
					"type": "string"
				},
				"status": {
					"description": "This is a default description.",
					"type": "string"
				},
				"statusMessage": {
					"description": "This is a default description.",
					"type": "string"
				},
				"businessTypes": {
					"description": "This is a default description.",
					"type": "string"
				},
				"sbaCertificationExpirationDate": {
					"description": "This is a default description.",
					"type": "string"
				},
				"disasterRelief": {
					"description": "This is a default description.",
					"type": "string"
				},
				"pscCodes": {
					"description": "This is a default description.",
					"type": "string"
				},
				"certifications": {
					"description": "This is a default description.",
					"type": "string"
				},
				"qualifications": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"": {
			"properties": {
				"firstName": {
					"description": "This is a default description.",
					"type": "string"
				},
				"lastName": {
					"description": "This is a default description.",
					"type": "string"
				},
				"middleInitial": {
					"description": "This is a default description.",
					"type": "string"
				},
				"address": {
					"description": "This is a default description.",
					"type": "string"
				},
				"usPhone": {
					"description": "This is a default description.",
					"type": "string"
				},
				"usPhoneExt": {
					"description": "This is a default description.",
					"type": "string"
				},
				"nonUsPhone": {
					"description": "This is a default description.",
					"type": "string"
				},
				"nonUsPhoneExt": {
					"description": "This is a default description.",
					"type": "string"
				},
				"email": {
					"description": "This is a default description.",
					"type": "string"
				},
				"line1": {
					"description": "This is a default description.",
					"type": "string"
				},
				"line2": {
					"description": "This is a default description.",
					"type": "string"
				},
				"city": {
					"description": "This is a default description.",
					"type": "string"
				},
				"stateOrProvince": {
					"description": "This is a default description.",
					"type": "string"
				},
				"zip": {
					"description": "This is a default description.",
					"type": "string"
				},
				"zip4": {
					"description": "This is a default description.",
					"type": "string"
				},
				"countryCode": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		}
	}
}