
  {
	"swagger": "2.0",
	"info": {
		"title": "eMuseum API",
		"description": "Developed in partnership with museums, The Museum System makes capturing, managing and accessing collection information quick and easy. eMuseum is a web-based software program that integrates seamlessly with TMS and other collection management systems to dynamically publish information to your website, Intranet, and kiosks. This API delivers search information and images from TMS &amp; eMuseum to GSA.gov.",
		"version": "1.0.0"
	},
	"host": "gsafinearts.pbs.gsa.gov",
	"basePath": "/emuseum/api",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/collections/all": {
			"get": {
				"summary": "Collections",
				"description": "Get Collections",
				"operationId": "getCollections",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Collections"]
			}
		},
		"/collections/{id}": {
			"get": {
				"summary": "Collections",
				"description": "Get Collection",
				"operationId": "getCollection",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Collections"]
			}
		},
		"/id/buildings/{id}": {
			"get": {
				"summary": "Building",
				"description": "Get Art By Building",
				"operationId": "getBuilding",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Buildings"]
			}
		},
		"/id/objects/{id}": {
			"get": {
				"summary": "Art",
				"description": "Get Art",
				"operationId": "getArt",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Art"]
			}
		},
		"/id/people/{id}": {
			"get": {
				"summary": "Artist",
				"description": "Request an artist",
				"operationId": "getArtist",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Artists"]
			}
		},
		"/search/buildings": {
			"get": {
				"summary": "Buildings",
				"description": "Search for art by building",
				"operationId": "searchBuildings",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Buildings"]
			}
		},
		"/search/objects": {
			"get": {
				"summary": "Art",
				"description": "Seart for art by object",
				"operationId": "searchARt",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Art"]
			}
		},
		"/search/people": {
			"get": {
				"summary": "Artists",
				"description": "Search for an artist",
				"operationId": "searchArtists",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Artists"]
			}
		}
	},
	"definitions": []
}